.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
env*/
.envs/
venv/

# libreoffice
.~lock.*

# backups
data/backups_csv
data/mongo_dump
data/futures_spreadbet_backup

# reports
site/reports/_tempfile_*
