.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject
notes/

# env
.python-version
env/
venv/
.venv/
.env


# libreoffice
.~lock.*

# reports
reports/
site/reports/_tempfile_*

.DS_Store

# backups
data/backups_csv/
data/mongo_dump/
