.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject
notes/

# env
.python-version
env/
venv/
.venv/
.env


# libreoffice
.~lock.*

# reports
reports/
site/reports/_tempfile_*

.DS_Store

# backups
data/backups_csv/
data/mongo_dump/

# logs
*.log

/parquet

/.vscode/*

/data/futures/db_roll_calendars
/data/futures/multiple_from_db
/data/futures/multiple_prices_csv_spliced
/data/futures/roll_calendars_from_csv_multiple
/data/futures/roll_calendars_from_db

/reports_backup

/issues
